.img{
  background-image: url('../../../../public/img1.gif');
  background-position: center;
  background-size: cover;
}
.img1{
  background-image: url('../../../../public/img2.gif');
  background-position: center;
  background-size: cover;
}
.img2{
  background-image: url('../../../../public/img6.gif');
  background-position: center;
  background-size: cover;
  border: 3px solid gray;
}
.img3{
  background-image: url('../../../../public/img4.gif');
  background-position: center;
  background-size: cover;
}
.img-box{
  position: relative;
  transition: width ease-in-out 1s;
}
.img-box h3 {
  position: absolute;
  bottom: 0px;
  left: 170px;
  opacity: 0;
  transition: bottom 0.5s ,opacity 0.5s ;
}
.img-box:hover{
  width: 400px;
  cursor: pointer;

}
.img-box:hover h3{
  opacity: 1;
  bottom: 25px;

}
